{% extends 'app/base.html'%}
{% block flexcontent %}
{% for post in posts %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">Author</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
        <th scope="col">Count of answears</th>
        <th scope="col">Go to post</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{post.author}}</th>
        <td>{{post.title}}</td>
        <td>{{post.content}}</td>
        <td>{{post.id}}</td>
        <td><a href="{% url 'post_detail' post.id %}"><button class="btn btn-outline-info" type="submit">Post</button></a></td>
      </tr>
    </tbody>
  </table>
{% endfor %}
{% endblock%}