{% extends 'app/base.html'%}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}
    <div class="container my-4 px-4">
      <div class="col-12 ">
          <div class="row ">
            <div class="col wierszzapytania pt-2 ">
              {% if object.author == user %}
              <div>
              <a class="btn btn-outline-secondary" href="{% url 'project-update' object.id %}">Update project</a>
              <a class="btn btn-outline-danger"href="{% url 'project-delete' object.id %}">Delete project</a>
              </div>
              {% endif %}
              <div class="row pr-3 pl-3 pb-3">
                <div class="col-12 col-lg-9 col-sm-7 pt-3">
                  <div class="row">
                    <div class="col">
                      <div class="row">
                      
                        <text class="tytułpytania2">
                          {{object.title}}
                        </text>
                      </div>
                      <div class="row">
                        <text>		
                          <a>Dodany przez: </a>{{ object.author }}<br/>
                          <a>Oceń projekt:</a><br />
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                        </text>	
                      </div> 
                    </div>
                  </div>
                </div>
                <div class="col d-none d-sm-block wierszzapytania">
                  <div class="row wierszzapytania pl-sm-3 pl-lg-3 pb-3 pt-3 pb-3" style="height:200px;">
                    <img class="zdjpost2"src="{{ object.author.profile.image.url }}" alt="" >
                  </div>
      
                </div>
              </div>
              <div class="row pr-3 pl-3 pb-3">			
                <img class="zdjtytposta" src="{{ object.miniature }}" alt="" />
              </div>
              <div class="row pr-3 pl-3 pb-3">{{object.description|safe}}</div>
            </div>
          </div>
          <div class="row py-3">
            <hr style="width:100%;text-align:left;margin-left:0">
          </div>
          
          <div class="row mb-2 mt-2 pl-md-3">
          <a class="tytułpytania2">Odpowiedzi:</a>
          </div>
          {% for comment in comments %}
          <div class="row">
            <div class="col-1 col-sm-2 col-md-2 col-lg-1 pt-3 d-none d-sm-block wierszzapytania">
              <div class="zdj_prof">
                <img class="zdjodpowiedzi"src="{{comment.author.profile.image.url}}" alt="" >
              </div>
            </div>
            <div class="col wierszzapytania pt-2 pl-4 pl-sm-0">
              <div class="row pl-3">{{ comment.author }} odpowiedział(a):</div>
              <div class="row pr-sm-5 pr-3 pl-3 pb-3">{{ comment.content|linebreaks }}</div>
            </div>
          </div>
          {% endfor %}
          {% if user.is_authenticated %}
          <h1 class="titleh1" style="margin-top: 50px;">Dodaj komentarz</h1>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn btn-warning">Dodaj komentarz</button>
            </form>
            {% endif %}
        </div>
      </div>
{% endblock %}
{% load static %}